.field-rich-text {
  @extend .field-long-text;

  overflow-y: auto;

  &.active {
    border-color: $palette-blue-500;
  }

  & .rich-text-editor[conteteditable='false'] {
    background-color: $palette-neutral-700;
  }
}
