.rich-text-editor {
  width: 100%;
  height: 100%;
  text-align: left;

  .tiptap.ProseMirror {
    height: 100%;
  }

  p {
    margin: 0;
    color: revert;
  }

  ul {
    list-style-type: disc;
  }

  blockquote {
    margin: 1rem;
    padding-left: 1rem;
    color: $color-neutral-700;
    border-left: 4px solid $color-neutral-300;
  }

  pre {
    padding: 1rem;
    background-color: $color-neutral-100;
    border-radius: $rounded;
  }
}

.rich-text-editor__comment {
  max-height: 60vh;
  overflow-y: auto;
  background-color: white;
}

.rich-text-editor__mention {
  padding: 0 2px;
  background-color: rgba(6, 46, 71, 0.08);
  font-weight: 600;

  @include rounded($rounded);
}

.rich-text-editor__mention--current-user {
  color: $color-primary-700;
  background-color: $color-primary-100;
}

.rich-text-editor__mention--user-gone {
  text-decoration: line-through;
  background-color: $color-error-100;
}

.rich-text-editor__mention-dropdown {
  .dropdown__items {
    bottom: 1px;
    top: auto;
  }
}

.ProseMirror p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color: $color-neutral-500;
  pointer-events: none;
  height: 0;
}
